/vendor/

/bin

cover.out
# editor and IDE paraphernalia
.idea
.vscode
*.swp
*.swo
*~
.DS_Store
*.iml
# Don't include generated manifests
manifests/*.yaml
# Don't include generated bundles (will be built in CI/CD at some point)
bundle/

# Generated test keys
testdata/docker/test_*.pub
testdata/docker/test_*.priv

# Generated model signature
testdata/tensorflow_saved_model/model.sig
